.About {
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    color: white;
    animation: fadeIn ease 2s;
}

.link {
    text-decoration: none;
    color: rgb(238, 129, 129);
}

.link:hover {
    color:rgb(209, 114, 114);
}

.descriptionEntry {
    font-size: larger;
    margin-top: 20px;
}

.gif {
    border-radius: 10px;
    margin: 30px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10em);
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}
