.Home {
    animation: fadeIn ease 2s;
    color: whitesmoke;
    padding: 80px;
}

.section {
    display: flex;
}

.inner {
    float: left;
}

.sectionTitle {
    font-size: xx-large;
    font-weight: bold;
    cursor: default;
}

#gif1 {
    float: right;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
}

.desc {
    padding-top: 5px;
    line-break: break-all;
    max-width: 600px;
    font-size: large;
    font-weight: 300;
}

#cardDiv {
    display: flex;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10em);
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes letterScaleUp {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes letterScaleDown {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}